amqp==2.3.2
billiard==3.5.0.4
boto==2.49.0
celery==4.2.1
certifi==2022.12.7
chardet==3.0.4
Django==2.1.2
django-bootstrap4==0.0.7
django-crispy-forms==1.7.2
django-markdown-deux==1.0.5
django-pagedown==1.0.6
django-ses-gateway==0.1.1
django-simple-forum==0.0.7
django-simple-pagination==1.2
django-storages==1.7.1
idna==2.7
inflect==1.0.1
jaraco.itertools==3.0.0
kombu==4.2.1
lxml==4.2.5
markdown2==2.3.6
microurl==0.1.1
more-itertools==4.3.0
Pillow==5.3.0
python-http-client==3.1.0
pytz==2018.7
redis==2.10.6
requests==2.20.0
selenium==3.141.0
sendgrid==5.6.0
six==1.11.0
sorl-thumbnail==12.4a1
South==1.0.2
urllib3==1.24.1
vine==1.1.4
wolframalpha==3.0.1
xmltodict==0.11.0
