{% extends 'accounts/layout/page.html' %}

{% block content %}

    {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timings</title>
    <link type="text/css" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <style>
        .bg{
            margin-left: -20px;
            margin-right: -20px;
            margin-top: -15px;
        }

        .abg{
            height: 300px;
            width: 300px;
            margin-right: 20px;
            overflow-x: hidden;
        }
    .marg{
        margin-left: 50px;
    }


    </style>

</head>
<body>

    {% if weather.colour == 1 %}
        <div class="jumbotron bg" style="background: linear-gradient(pink,orange)">
<section class="section"  >
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image" width="100px" height="100px">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p >
                                        <span class="title" style="font-family: 'Lato', sans-serif;font-size: 30px">{{ weather.city }}</span>
                                        <br>
                                        <span class="subtitle" style="font-family: 'Lato', sans-serif;font-size: 25px">{{ weather.temperature }}° C</span>
                                        <br> <p style="font-family: 'Lato', sans-serif;font-size: 20px">{{ weather.description }}</p>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </section>
        </div>
    {% else %}
        <div class="jumbotron bg" style="background: linear-gradient(lightskylightpink,lightpink)">
            <section class="section"  >
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ weather.temperature }}° C</span>
                                        <br> {{ weather.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </section>
        </div>
    {% endif %}


    <table class="marg">
        <tr>
            <td class="bord">
                <div class="jumbotron abg" style="background-color: lightpink">
                    <h4>Amul East Side</h4><br/>
                    09:00 AM to 11:00PM<br/>
                    Closed on Sunday
                </div>
            </td>
            <td class="bord">
                <div class="jumbotron abg" style="background-color: lightpink">
                    <h4>Amul West Side</h4><br/>
                    08:00 AM to 08:00PM<br/>
                    Open all days
                </div>
            </td>
            <td class="bord">
                <div class="jumbotron abg" style="background-color: lightpink">
                    <h4>Nandini</h4><br/>
                    11:00 AM to 11:00PM<br/>
                    Open all days
                </div>
            </td>
            <td class="bord">
                <div class="jumbotron abg" style="background-color: lightpink">
                    <h4>HCC</h4><br/>
                    Open 24/7<br/>
                    Open All days
                </div>
            </td>
        </tr>
        <tr>
            <td class="bord">
                <div class="jumbotron abg" style="background-color: lightpink">
                    <h4>Girls Co-operative</h4><br/>
                    10:00 AM to 08:00PM<br/>
                    Closed on Sunday
                </div>
            </td>
            <td class="bord">
                <div class="jumbotron abg" style="background-color: lightpink">
                    <h4>Boys Co-opearative</h4><br/>
                    09:00 AM to 06:00PM<br/>
                    Closed on Saturday,Sunday
                </div>
            </td>
            <td class="bord">
                <div class="jumbotron abg" style="background-color: lightpink">
                    <h4>Library</h4><br/>
                    08:00 AM to 11:00PM <br/>
                    Sunday till 04:00PM
                </div>
            </td>
            <td class="bord">
                <div class="jumbotron abg" style="background-color: lightpink">
                    <h4>CCC</h4><br/>
                    08:00 AM to 09:00PM<br/>
                    Closed on Saturday,Sunday
                </div>
            </td>
        </tr>
    </table>



</body>
</html>

{% endblock %}