{% extends 'accounts/layout/page.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timings</title>
</head>
<body>
    {% csrf_token %}
    <form method="post">
        <select name="places">
            {% for place in facilities %}
                <option value="{{ place.place_name }}">{{ place.place_name }}</option>
            {% endfor %}
</select>
    <button type="submit">Fetch</button>
    </form>

    {% if timings %}
        {{ timings }}
    {% endif %}
</body>
</html>

{% endblock %}