{% extends "forum/base.html" %}

{% block content %}
    <style>
    .btn{
        background-color: #333333;
        color: white;
        font-size: 20px;
    }
    .btn:hover {
    background-color: purple;


}
    .conts{
        margin-left: auto;
        margin-right: auto;
    }
    .wow1{
        background-color: ghostwhite;
        opacity: 0.8;
        color: black;
    }
    .ol1{
        justify-content: space-between;
    }
    .clean-slide {
    position: relative;
    display: inline-block;
    width: 215px;
    padding: 10px 0 10px 15px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: #377D6A;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 60px;
    transition: all .3s ease-in-out;
}



.taskAdd {
    background-color: purple;
    padding-left: 31px;
}
        .taskAdd:hover {
    background: rebeccapurple;
}
        .but{
            font-family: 'Open Sans', sans-serif;
    background: purple;
    border-radius: 2px;
    border: none;
    outline: none;
    height: 34px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding-left: 20px;
    padding-right: 15px;
        }

        .but1{
            font-family: 'Open Sans', sans-serif;
    background: purple;
    border-radius: 2px;
    border: none;
    outline: none;
    height: 34px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding-left: 20px;
    padding-right: 15px;
        }




    .clean-slide:focus,
.clean-slide:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &::-webkit-input-placeholder {
    color: #aaa;
  }
  + label {
    color: #fff;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    transform: translateX(-100%);

    &:after {
      transform: translate(100%);
    }
  }
}

    </style>
{% if check_user.is_authenticated %}

    <div class="biggie">
    <div id = "wrapper" class="row">


    <div class="col-sm-4">
        <form action="create/" method="get">
		    <button class="taskAdd but1" type="submit"><i class="fa fa-question" style="padding-right: 10px;"></i>Ask a question</button>

		</form>
    </div>

    <div class="col-sm-8">
        <form method='GET' action='' class='row' style="margin-left: 350px">
        <div class='col-sm-6'>
            <div class='input-group'>
                <input class='form-control' style="width: 285px" type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>
                <span class='input-group-btn'>
                    <!-- <input class='btn btn-default' type='submit' value='Search' /> -->
                    <button class='taskAdd but' type='submit'>Search <i class="fa fa-search"></i></button>

                </span>

            </div>

        </div>
</form>
    </div>


    </div>
    {% endif %}

<div class='conts'>
{#    <h1 style="color:chocolate;">{{ title }}</h1>#}


{% for obj in object_list %}
<div class="row wow1">
  <div class="col-sm-12">
{#    <div class="thumbnail">#}

      <div class="caption post-detail-item">
        {% if obj.draft %}<h3>Staff only: Draft</h3>{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}
        <h3 style="color:black;"><a href='{{ obj.get_absolute_url }}?query={{ obj.id }}'>{{ obj.title }}</a> <small>{{ obj.publish }}</small></h3>
        {% if obj.user %}<p> Posted by @{{ obj.user }}</p>{% endif %}


{#      </div >#}
    </div>
  </div>
</div>

{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

{#        <span class="current">#}
{#            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.#}
{#        </span>#}

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>




</div>
    </div>

{% endblock content %}

