
{% extends "forum/base.html" %}


{% block head_extra %} 
{{ form.media }}

{% endblock head_extra %}



{% block content %}
{% load crispy_forms_tags %}
    <head>
    <style>
        body{
            background-color: lightgray;
        }
    </style>
    </head>
<div class='col-sm-6'>
<h3>Preview</h3>
<hr/>
<div class='content-preview'>
    <h3 id='preview-title'></h3>
    <p id='preview-content'></p>
</div>
</div>
<div class='col-sm-6'>
<h3>Ask Question</h3>
<hr/>

<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
{#    {{ form.title|as_crispy_field }}<br/>#}
{#    {{ form.content|as_crispy_field }}<br/>#}
{#    {{ form.image|as_crispy_field }}<br/>#}
{#    {{ form.publish|as_crispy_field }}<br/>#}
    {{ form|crispy }}<br/>

    <button type='submit' class='taskAdd but' value='Post Question'><i class="fa fa-question-circle" style="margin-right: 10px"></i> Post Question</button>
</form>
</div>
{% endblock content %}